<nav class="white">
    <div class="nav-wrapper">
        <a href="/profile" class="brand-logo center" style="color: black; font-family: 'Righteous', cursive;">SCHEDULEIT
            <i class="fa fa-calendar"></i></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"
                style="color: black;"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/assignmentList">Assignments</a></li>
            <li><a href="/assignments">About ScheduleIt</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/profile">Profile</a></li>
    <li><a href="/assignments">Assignments</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>