<h3 class="slogan" style="background-color: rgba(0, 0, 0, 0.562);">Coursework Got You Down? Let's Fix That.</h3>

<div class="section">
    <p class="lead" style="font-size: 20px;">Use ScheduleIt To Plan And Manage Your Work</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn cyan darken-1">
        <i class="fab fa-google left"></i>Login With Google.
    </a>
</div>