<div class="container" id="profile-container">

    <div class="row">

        <div class="col s4 center" id="userInfo">
            <h2>Title: {{assignment.title}}</h2>
            <h3>Module:{{assignment.module}}</h3>
            <h3>Progress:{{assignment.assignmentProgress}}</h3>
            <h3>Due Date:{{assignment.dueDate}}</h3>
        </div>


    </div>


</div>
